<footer class="py-sm-13 py-10 bg-footer-bg rounded-top-sm-80 rounded-top-48">
  <div class="container">
    <div class="row d-flex flex-sm-row justify-content-sm-between align-items-sm-center flex-column mb-sm-4 mb-9">
      <div class="col-sm-6 col-12">
        <a href="*/index.html" class="footer-logo mb-sm-0 mb-9"></a>
      </div>
      <div class="col-sm-6 col-12">
        <ul class="d-flex flex-sm-row justify-content-sm-end align-items-sm-center flex-column">
          <li><a href="#" class="text-white fs-7 lh-base fw-medium me-sm-7 me-0 mb-sm-0 mb-6">常見問題</a></li>
          <li><a href="#" class="text-white fs-7 lh-base fw-medium me-sm-7 me-0 mb-sm-0 mb-6">關於我們</a></li>
          <li><a href="#" class="text-white fs-7 lh-base fw-medium me-sm-7 me-0 mb-sm-0 mb-6">隱私權政策</a></li>
          <li><a href="#" class="text-white fs-7 lh-base fw-medium">使用者條款</a></li>
        </ul>
      </div>
    </div>
    <div class="row d-flex flex-sm-row align-items-sm-center justify-content-sm-between flex-column-reverse">
      <div class="col-sm-6 col-12">
        <p class="fs-sm-7 fs-8 lh-base text-copyright fw-normal">copyright © 2024 LEARNING 課程網站 All Rights Reserved.</p>
      </div>
      <div class="col-sm-6 col-12 mb-sm-0 mb-7">
        <ul class="d-flex align-items-sm-center justify-content-sm-end">
          <li>
            <a href="#" class="px-3 py-3 border border-1 border-white rounded-circle">
            <i class="bi bi-line text-white"></i>
            </a>
          </li>
          <li>
            <a href="#" class="px-3 py-3 border border-1 border-white rounded-circle mx-4">
              <i class="bi bi-youtube text-white "></i>
            </a>
          </li>
          <li>
            <a href="#" class="px-3 py-3 border border-1 border-white rounded-circle">
              <i class="bi bi-facebook text-white"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>