<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁 - 第八週作業 - 周周</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- banner -->
    <section class="mb-sm-11 mb-12">
      <div class="swiper banner-mySwiper container-fluid">
        <div class="swiper-wrapper position-relative">
          <div class="swiper-slide swiper-slide-w mx-auto d-flex justify-content-center align-items-center">
            <div class="hero-one">
              <a href="#" class="d-flex align-items-center py-sm-4 ps-sm-4 pe-sm-7 py-2 ps-2 pe-4 bg-white rounded-100 position-absolute bottom-30 start-5">
                <span class="fs-sm-7 lh-base py-sm-2 px-sm-3 me-2 rounded-100 bg-hot-course">
                  熱銷課程 
                  <i class="bi bi-fire text-danger"></i>           
                </span>
                <span class="fs-sm-5 lh-1-2 fw-bold fs-7 lh-base">給成人的鋼琴入門課，一小時教你彈奏上手！</span>
              </a> 
              <a href="#" >
                <span class="bg-primary text-white interest">探索感興趣的課程，今天立即上課
                  <i class="bi bi-arrow-right ms-4"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="swiper-slide ms-9 swiper-slide-w mx-auto d-flex justify-content-center align-items-center">
            <div class="hero-two"></div>
          </div>
          <div class="swiper-slide ms-9 swiper-slide-w mx-auto d-flex justify-content-center align-items-center">
            <div class="hero-three"></div>
          </div>
        </div>
        <div class="swiper-next position-absolute top-50 start-90 translate-middle d-web">
          <i class="bi bi-arrow-right bg-white text-primary py-4 px-4 shadow-lg rounded-12"></i>
        </div>
        <div class="swiper-prev position-absolute top-50 start-20 translate-middle d-web">
          <i class="bi bi-arrow-left bg-white text-primary py-4 px-4 shadow-lg rounded-12"></i>
        </div>
        <div class="swiper-pagination d-phone"></div>
      </div>
    </section>
    
    <!-- 火熱募資課程 -->
    <section class="py-sm-14 py-12 position-relative">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-12" data-aos="fade-right">
            <div class="mb-sm-9 mb-6">
              <h2 class="fs-2 lh-1-2 fw-bold mb-2">火熱募資課程</h2>
              <p class="fs-sm-6 fs-5 lh-base fw-noraml text-secondary">現在購買最優惠✨</p>
            </div>
            <div class="swiper course-mySwiper mb-sm-9 mb-6">
              <div class="swiper-wrapper d-flex flex-sm-wrap flex-row">
                <div class="swiper-slide w-auto">
                  <a href="#" class="fs-6 lh-base fw-light py-3 px-4 border border-1 border-success rounded-12 mb-sm-3 mb-0 course-hover">全部</a>
                </div>
                <div class="swiper-slide w-auto">
                  <a href="#" class="fs-6 lh-base fw-light py-3 px-4 border border-1 border-success rounded-12 mb-sm-3 mb-0 course-hover">🍽️ 烹飪料理</a>
                </div>
                <div class="swiper-slide w-auto">
                  <a href="#" class="fs-6 lh-base fw-light  py-3 px-4 border border-1 border-success rounded-12 mb-sm-3 mb-0 course-hover">📊 數據分析</a>
                </div>
                <div class="swiper-slide w-auto">
                  <a href="#" class="fs-6 lh-base fw-light py-3 px-4 border border-1 border-success rounded-12 mb-sm-3 mb-0 course-hover">🎼 音樂製作</a>
                </div>
                <div class="swiper-slide w-auto">
                  <a href="#" class="fs-6 lh-base fw-light  py-3 px-4 border border-1 border-success rounded-12 mb-sm-3 mb-0 course-hover">📝 創意寫作</a>
                </div>
                <div class="swiper-slide  w-auto">
                  <a href="#" class="fs-6 lh-base fw-light  py-3 px-4 border border-1 border-success rounded-12 mb-sm-3 mb-0 course-hover">💬 語言學習</a>
                </div>
                <div class="swiper-slide  w-auto">
                  <a href="#" class="fs-6 lh-base fw-light  py-3 px-4 border border-1 border-success rounded-12 mb-sm-3 mb-0 course-hover">🖌️ 藝術創作</a>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-primary text-white fs-6 lh-base py-4 text-center rounded-12 more-course d-web">更多募資課程</button>
          </div>
          <div class="col-sm-8 col-12" data-aos="fade-left">
            <div class="swiper main-course-mySwiper mb-6">
              <div class="swiper-wrapper mb-6">
                <div class="swiper-slide">
                  <div class="card position-relative">
                    <a href="#" class="main-course-one rounded-top"></a>
                    <div class="card-body py-6 px-4 bg-white rounded-bottom">
                      <span class="fs-7 lh-base fw-bold text-primary bg-hot-course py-2 px-3 rounded-100 position-absolute top-5 start-5">優惠倒數 10 天</span>
                      <p class="card-title mb-2 fs-5 lh-1-2 fw-bold">創意寫作工坊：從靈感到出版的全過程</p>
                      <div class="d-flex align-items-center mb-6">
                        <div class="kelly-hsu-main me-3"></div>
                        <p class="fs-6 lh-base fw-light text-secondary">Kelly Hsu</p>
                      </div>
                      <div class="d-flex justify-content-between align-items-center  mb-2">
                        <p class="fs-6 lh-base fw-bold text-primary">募資進度 81 %</p>
                        <p class="fs-7 lh-base fw-light text-secondary">已有 521 位同學加入</p>
                      </div>
                      <div class="bg-success h-8 rounded-100 w-100 mb-2">
                        <div class="bg-primary h-8 rounded-100 w-90"></div>
                      </div>
                      <p class="fs-5 lh-1-2 fw-bold me-2">NT$ 2,480
                        <span class="fs-7 lh-1-2 fw-light text-light text-decoration-line-through">NT$ 3,200</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card position-relative">
                    <a href="#" class="main-course-two rounded-top"></a>
                    <div class="card-body py-6 px-4 bg-white rounded-bottom">
                      <span class="fs-7 lh-base fw-bold text-primary bg-hot-course py-2 px-3 rounded-100 position-absolute top-5 start-5">優惠倒數 17 天</span>
                      <p class="card-title mb-2 fs-5 lh-1-2 fw-bold">健康廚房：營養均衡的素食料理指南</p>
                      <div class="d-flex align-items-center mb-6">
                        <div class="kelly-hsu me-3"></div>
                        <p class="fs-6 lh-base fw-light text-secondary">希姐帶你吃</p>
                      </div>
                      <div class="d-flex justify-content-between align-items-center  mb-2">
                        <p class="fs-6 lh-base fw-bold text-primary">募資進度 281 %</p>
                        <p class="fs-7 lh-base fw-light text-secondary">已有 1,397 位同學加入</p>
                      </div>
                      <div class="bg-success h-8 rounded-100 w-100 mb-2">
                        <div class="bg-primary h-8 rounded-100 w-100"></div>
                      </div>
                      <p class="fs-5 lh-1-2 fw-bold me-2">NT$ 1,680
                        <span class="fs-7 lh-1-2 fw-light text-light text-decoration-line-through">NT$ 2,980</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card position-relative">
                    <a href="#" class="main-course-three rounded-top"></a>
                    <div class="card-body py-6 px-4 bg-white rounded-bottom">
                      <span class="fs-7 lh-base fw-bold text-primary bg-hot-course py-2 px-3 rounded-100 position-absolute top-5 start-5">優惠倒數 9 天</span>
                      <p class="card-title mb-2 fs-5 lh-1-2 fw-bold">音樂製作入門：從零開始創作你的音樂</p>
                      <div class="d-flex align-items-center mb-6">
                        <div class="k-Dee me-3"></div>
                        <p class="fs-6 lh-base fw-light text-secondary">K.Dee</p>
                      </div>
                      <div class="d-flex justify-content-between align-items-center  mb-2">
                        <p class="fs-6 lh-base fw-bold text-primary">募資進度 76 %</p>
                        <p class="fs-7 lh-base fw-light text-secondary">已有 420 位同學加入</p>
                      </div>
                      <div class="bg-success h-8 rounded-100 w-100 mb-2">
                        <div class="bg-primary h-8 rounded-100 w-76"></div>
                      </div>
                      <p class="fs-5 lh-1-2 fw-bold me-2">NT$ 2,680
                        <span class="fs-7 lh-1-2 fw-light text-light text-decoration-line-through">NT$ 3,200</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card position-relative">
                    <a href="#" class="main-course-four rounded-top"></a>
                    <div class="card-body py-6 px-4 bg-white rounded-bottom">
                      <span class="fs-7 lh-base fw-bold text-primary bg-hot-course py-2 px-3 rounded-100 position-absolute top-5 start-5">優惠倒數 1 天</span>
                      <p class="card-title mb-2 fs-5 lh-1-2 fw-bold">掌握商業攝影：打造你的專業攝影事業</p>
                      <div class="d-flex align-items-center mb-6">
                        <div class="mikeeee me-3"></div>
                        <p class="fs-6 lh-base fw-light text-secondary">Mikeeee</p>
                      </div>
                      <div class="d-flex justify-content-between align-items-center  mb-2">
                        <p class="fs-6 lh-base fw-bold text-primary">募資進度 98 %</p>
                        <p class="fs-7 lh-base fw-light text-secondary">已有 290 位同學加入</p>
                      </div>
                      <div class="bg-success h-8 rounded-100 w-100 mb-2">
                        <div class="bg-primary h-8 rounded-100 w-98"></div>
                      </div>
                      <p class="fs-5 lh-1-2 fw-bold me-2">NT$ 1,980
                        <span class="fs-7 lh-1-2 fw-light text-light text-decoration-line-through">NT$ 3,200</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary text-white fs-6 lh-base py-4 text-center rounded-12 more-course d-phone">更多募資課程</button>
      </div>
      <div class="flowers-course"></div>
    </section>

    <!-- 看看大家都買了什麼 -->
    <section class="py-sm-14 py-12 bg-buy  position-relative z-0">
      <h2 class="z-0 fs-2 lh-1-2 text-sm-center text-start fw-xl mb-2" data-aos="fade-up">看看大家都買了什麼</h2>
      <div class="flowers-one translate-middle"></div>
      <p class="fs-5 lh-1-2 text-sm-center text-start mb-sm-9 mb-6 fw-bold text-secondary" data-aos="fade-up">熱銷課程一次看！✨</p>
      <div class="container">
        <div class="swiper buy-mySwiper position-relative z-0" data-aos="fade-left">
          <div class="swiper-wrapper z-1">
            <div class="swiper-slide">
              <div class="card  position-relative card-shadows">
                <a href="#" class="buy-course-one "></a>
                <div class="card-body  bg-white rounded-bottom rounded-20">
                  <span class="fs-7 lh-base fw-bold text-primary bg-warning py-2 px-3 rounded-100 position-absolute top-5 start-5">優限時 8 折 🔥</span>
                  <div class="py-4 d-flex flex-column border-bottom border-1 border-success">
                    <p class="card-title mb-4 fs-5 lh-1-2 fw-bold">創意寫作工坊：從靈感到出版的全過程</p>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="d-flex align-items-center">
                        <div class="kelly-hsu-main me-3"></div>
                        <p class="fs-6 lh-base fw-light text-secondary">Kelly Hsu</p>
                      </div>
                      <div class="d-flex flex-column align-items-end">
                        <p class="fs-sm-5 lh-1-2 text-primary">NT$ 2,480</p>
                        <p class="fs-7 lh-base text-light text-decoration-line-through">NT$ 3,200</p>
                      </div>
                    </div>
                  </div>
                  <div class="py-4 px-4 d-flex justify-content-between  align-items-center">
                    <div>
                      <span class="py-1 px-3 bg-light fs-7 lh-base rounded-100">中文創作</span>
                      <p class="fs-7 lh-base text-secondary fw-ligh mt-1">已有 420 位同學加入</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="bi bi-star-fill text-star"></i>
                      <span class="fs-7 lh-base text-star-text fw-noraml">4.0</span>
                      <span class="fs-7 lh-base text-light fw-noraml">(333)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card  position-relative card-shadows">
                <a href="#" class="buy-course-two rounded-top"></a>
                <div class="card-body  bg-white rounded-bottom">
                  <span class="fs-7 lh-base fw-bold text-primary bg-warning py-2 px-3 rounded-100 position-absolute top-5 start-5">優限時 8 折 🔥</span>
                  <div class="py-4 d-flex flex-column border-bottom border-1 border-success">
                    <p class="card-title mb-4 fs-5 lh-1-2 fw-bold">小白也會！從零開始學習 Python 程式設計</p>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="d-flex align-items-center">
                        <div class="kelly-hsu-main me-3"></div>
                        <p class="fs-6 lh-base fw-light text-secondary">Kelly Hsu</p>
                      </div>
                      <div class="d-flex flex-column align-items-end">
                        <p class="fs-sm-5 lh-1-2 text-primary">NT$ 2,480</p>
                        <p class="fs-7 lh-base text-light text-decoration-line-through">NT$ 3,200</p>
                      </div>
                    </div>
                  </div>
                  <div class="py-4 px-4 d-flex justify-content-between  align-items-center">
                    <div>
                      <span class="py-1 px-3 bg-light fs-7 lh-base rounded-100">程式開發</span>
                      <p class="fs-7 lh-base text-secondary fw-ligh mt-1">已有 420 位同學加入</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="bi bi-star-fill text-star"></i>
                      <span class="fs-7 lh-base text-star-text fw-noraml">4.0</span>
                      <span class="fs-7 lh-base text-light fw-noraml">(333)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card  position-relative card-shadows">
                <a href="#" class="buy-course-three rounded-top"></a>
                <div class="card-body  bg-white rounded-bottom">
                  <span class="fs-7 lh-base fw-bold text-primary bg-warning py-2 px-3 rounded-100 position-absolute top-5 start-5">優限時 8 折 🔥</span>
                  <div class="py-4 d-flex flex-column border-bottom border-1 border-success">
                    <p class="card-title mb-4 fs-5 lh-1-2 fw-bold">全面掌握 JavaScript 開發技術</p>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="d-flex align-items-center">
                        <div class="kelly-hsu-main me-3"></div>
                        <p class="fs-6 lh-base fw-light text-secondary">Kelly Hsu</p>
                      </div>
                      <div class="d-flex flex-column align-items-end">
                        <p class="fs-sm-5 lh-1-2 text-primary">NT$ 2,480</p>
                        <p class="fs-7 lh-base text-light text-decoration-line-through">NT$ 3,200</p>
                      </div>
                    </div>
                  </div>
                  <div class="py-4 px-4 d-flex justify-content-between  align-items-center">
                    <div>
                      <span class="py-1 px-3 bg-light fs-7 lh-base rounded-100">程式開發</span>
                      <p class="fs-7 lh-base text-secondary fw-ligh mt-1">已有 420 位同學加入</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="bi bi-star-fill text-star"></i>
                      <span class="fs-7 lh-base text-star-text fw-noraml">4.0</span>
                      <span class="fs-7 lh-base text-light fw-noraml">(333)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card card-shadows">
                <a href="#" class="buy-course-four rounded-top"></a>
                <div class="card-body  bg-white rounded-bottom">
                  <div class="py-4 d-flex flex-column border-bottom border-1 border-success">
                    <p class="card-title mb-4 fs-5 lh-1-2 fw-bold">HTML & CSS 網頁設計基礎教程</p>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="d-flex align-items-center">
                        <div class="kelly-hsu-main me-3"></div>
                        <p class="fs-6 lh-base fw-light text-secondary">Kelly Hsu</p>
                      </div>
                      <div class="d-flex flex-column align-items-end">
                        <p class="fs-sm-5 lh-1-2 text-primary">NT$ 2,480</p>
                        <p class="fs-7 lh-base text-light text-decoration-line-through">NT$ 3,200</p>
                      </div>
                    </div>
                  </div>
                  <div class="py-4 px-4 d-flex justify-content-between  align-items-center">
                    <div>
                      <span class="py-1 px-3 bg-light fs-7 lh-base rounded-100">程式開發</span>
                      <p class="fs-7 lh-base text-secondary fw-ligh mt-1">已有 420 位同學加入</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="bi bi-star-fill text-star"></i>
                      <span class="fs-7 lh-base text-star-text fw-noraml">4.0</span>
                      <span class="fs-7 lh-base text-light fw-noraml">(333)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card card-shadows">
                <a href="#" class="buy-course-five rounded-top"></a>
                <div class="card-body  bg-white rounded-bottom">
                  <div class="py-4 d-flex flex-column border-bottom border-1 border-success">
                    <p class="card-title mb-4 fs-5 lh-1-2 fw-bold">更進一步！深入學習 Node.js 與後端開發</p>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="d-flex align-items-center">
                        <div class="kelly-hsu-main me-3"></div>
                        <p class="fs-6 lh-base fw-light text-secondary">Kelly Hsu</p>
                      </div>
                      <div class="d-flex flex-column align-items-end">
                        <p class="fs-sm-5 lh-1-2 text-primary">NT$ 2,480</p>
                        <p class="fs-7 lh-base text-light text-decoration-line-through">NT$ 3,200</p>
                      </div>
                    </div>
                  </div>
                  <div class="py-4 px-4 d-flex justify-content-between  align-items-center">
                    <div>
                      <span class="py-1 px-3 bg-light fs-7 lh-base rounded-100">程式開發</span>
                      <p class="fs-7 lh-base text-secondary fw-ligh mt-1">已有 420 位同學加入</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="bi bi-star-fill text-star"></i>
                      <span class="fs-7 lh-base text-star-text fw-noraml">4.0</span>
                      <span class="fs-7 lh-base text-light fw-noraml">(333)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-buy-next inline-block border border-0 d-web">
          <i class="bi bi-arrow-right  bg-white px-4 py-4 text-primary"></i>
        </div>
        <div class="swiper-buy-prev inline-block border border-0 d-web">
          <i class="bi bi-arrow-left  bg-white px-4 py-4 text-primary "></i>
        </div>
      </div>
      <div class="flower-three d-web"></div>
    </section>

    <!-- 想學什麼嗎 -->
    <section class="py-ms-14 py-9 bg-primary rounded-80 mx-5">
      <div class="container py-12">
        <div class="row justify-content-between align-items-center flex-sm-row flex-column-reverse">
          <div class="col-sm-6 col-12" data-aos="fade-right">
            <div class="swiper choose-mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide w-auto">
                  <a class="py-5 px-5 d-flex align-items-center bg-white rounded-20 choose-shadows">
                    <div class="py-4 px-4 bg-marketing-bg rounded-16 me-5">
                      <i class="bi bi-megaphone text-white"></i>
                    </div>
                    <div>
                      <p class="fs-6 lh-base fw-bold mb-2">網路行銷</p>
                      <p class="fs-7 lh-base fw-ligh text-learn-count">342 門課程</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide w-auto">
                  <a class="py-5 px-5 d-flex align-items-center bg-white rounded-20 choose-shadows">
                    <div class="py-4 px-4 bg-clip-bg rounded-16 me-5">
                      <i class="bi bi-camera text-white"></i>
                    </div>
                    <div>
                      <p class="fs-6 lh-base fw-bold mb-2">拍攝剪輯</p>
                      <p class="fs-7 lh-base fw-ligh text-learn-count">563 門課程</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide w-auto">
                  <a class="py-5 px-5 d-flex align-items-center bg-white rounded-20 choose-shadows">
                    <div class="py-4 px-4 bg-growing-up-bg rounded-16 me-5">
                      <i class="bi bi-bar-chart-line text-white"></i>
                    </div>
                    <div>
                      <p class="fs-6 lh-base fw-bold mb-2">自我成長</p>
                      <p class="fs-7 lh-base fw-ligh text-learn-count">490 門課程</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide w-auto">
                  <a class="py-5 px-5 d-flex align-items-center bg-white rounded-20 choose-shadows">
                    <div class="py-4 px-4 bg-design-bg rounded-16 me-5">
                      <i class="bi bi-vector-pen text-white"></i>
                    </div>
                    <div>
                      <p class="fs-6 lh-base fw-bold mb-2">藝術設計</p>
                      <p class="fs-7 lh-base fw-ligh text-learn-count">230 門課程</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide w-auto">
                  <a class="py-5 px-5 d-flex align-items-center bg-white rounded-20 choose-shadows">
                    <div class="py-4 px-4 bg-analyze-bg rounded-16 me-5">
                      <i class="bi bi-bug text-white"></i>
                    </div>
                    <div>
                      <p class="fs-6 lh-base fw-bold mb-2">數據分析</p>
                      <p class="fs-7 lh-base fw-ligh text-learn-count">395 門課程</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide w-auto">
                  <a class="py-5 px-5 d-flex align-items-center bg-white rounded-20 choose-shadows">
                    <div class="py-4 px-4 bg-invest-bg rounded-16 me-5">
                      <i class="bi bi-credit-card text-white"></i>
                    </div>
                    <div>
                      <p class="fs-6 lh-base fw-bold mb-2">投資理財</p>
                      <p class="fs-7 lh-base fw-ligh text-learn-count">486 門課程</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide w-auto">
                  <a class="py-5 px-5 d-flex align-items-center bg-white rounded-20 choose-shadows">
                    <div class="py-4 px-4 bg-music-bg rounded-16 me-5">
                      <i class="bi bi-headphones text-white"></i>
                    </div>
                    <div>
                      <p class="fs-6 lh-base fw-bold mb-2">音樂創作</p>
                      <p class="fs-7 lh-base fw-ligh text-learn-count">283 門課程</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide w-auto">
                  <a class="py-5 px-5 d-flex align-items-center bg-white rounded-20 choose-shadows">
                    <div class="py-4 px-4 bg-primary rounded-16 me-5">
                      <i class="bi bi-arrow-right text-white"></i>
                    </div>
                    <p class="fs-6 lh-base fw-bold mb-2">探索更多</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-12 mb-sm-0 mb-9" data-aos="fade-left">
            <div class="d-flex align-items-center justify-content-center">
              <div class="d-flex flex-sm-row  flex-column align-items-start justify-content-sm-between">
                <div class="polygon-one mb-sm-0 mb-2"></div>
                <div>
                  <h2 class="fs-2 lh-1-2 text-white fw-xl mb-2">想學什麼嗎</h2>
                  <p class="fs-2 lh-1-2 text-white fw-xl mb-2">一探究竟。</p>
                  <div class="line-two"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 頂尖講師帶你飛 -->
    <section class="py-sm-14 pt-14 position-relative">
      <div class="container ">
        <h2 class="z-0 fs-2 lh-1-2 fw-bold text-sm-center text-start mb-2" data-aos="fade-up">頂尖講師帶你飛</h2>
        <p class="fs-sm-6 fs-5 lh-base fw-ligh text-secondary mb-sm-9 mb-6 text-sm-center text-start" data-aos="fade-up">超真實學員評價，這些講師你絕對不能錯過！</p>
        <div class="flower-teacher-one translate-middle"></div>
        <div class="swiper teacher-mySwiper mb-12 mb-sm-0">
          <div class="swiper-wrapper mb-6 mb-sm-0">
            <div class="swiper-slide" data-aos="fade-down">
              <div class="card border-0">
                <div class="teacher-one ms-auto"></div>
                <div class="card-body me-7 bg-white teacher-zindex-body rounded-20">
                  <h5 class="card-title fs-5 lh-1-2 fw-bold mb-6">Mr. Robert </h5>
                  <div class="mb-2 d-flex align-items-center">
                    <span class="me-2 bg-success px-2 py-3 text-secondary fs-7 lh-base fw-bold rounded-100">音樂創作</span>
                    <div class="d-flex align-items-center">
                      <i class="bi bi-star-fill text-star me-1"></i>
                      <span class="fs-7 lh-base me-1">4.0</span>
                      <span class="fs-7 lh-base text-info">(333)</span>
                    </div>
                  </div>
                  <p class="card-text mb-6 fs-6 lh-base text-secondary fw-ligh">Robert 的線上課程深受學生喜愛。他的教學方法生動有趣，能夠深入淺出地講解複雜的音樂理論，並結合實際演奏技巧，使學生能夠快速進步。</p>
                  <a href="#" class="btn btn-primary w-100 py-4 rounded-12">探索 Mr. Robert 的教學課程</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide" data-aos="fade-down">
              <div class="card border-0">
                <div class="teacher-two ms-auto"></div>
                <div class="card-body me-7 bg-white teacher-zindex-body rounded-20">
                  <h5 class="card-title fs-5 lh-1-2 fw-bold mb-6">Kelly Beck</h5>
                  <div class="mb-2 d-flex align-items-center">
                    <span class="me-2 bg-success px-2 py-3 text-secondary fs-7 lh-base fw-bold rounded-100">英文寫作</span>
                    <div class="d-flex align-items-center">
                      <i class="bi bi-star-fill text-star me-1"></i>
                      <span class="fs-7 lh-base me-1">4.8</span>
                      <span class="fs-7 lh-base text-info">(281)</span>
                    </div>
                  </div>
                  <p class="card-text mb-6 fs-6 lh-base text-secondary fw-ligh">Kelly 的教學方式靈活且富有創意，能夠有效提升學生的寫作技巧和自信心。Kelly 注重實用性，針對學生的需求量身打造教學內容，並提供具體的反饋和建議。</p>
                  <a href="#" class="btn btn-primary w-100 py-4 rounded-12">探索 Kelly Beck 的教學課程</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide" data-aos="fade-down">
              <div class="card border-0">
                <div class="teacher-three ms-auto"></div>
                <div class="card-body me-7 bg-white teacher-zindex-body rounded-20">
                  <h5 class="card-title fs-5 lh-1-2 fw-bold mb-6">K. Lee</h5>
                  <div class="mb-2 d-flex align-items-center">
                    <span class="me-2 bg-success px-2 py-3 text-secondary fs-7 lh-base fw-bold rounded-100">音樂創作</span>
                    <div class="d-flex align-items-center">
                      <i class="bi bi-star-fill text-star me-1"></i>
                      <span class="fs-7 lh-base me-1">4.0</span>
                      <span class="fs-7 lh-base text-info">(1245)</span>
                    </div>
                  </div>
                  <p class="card-text mb-6 fs-6 lh-base text-secondary fw-ligh">K. Lee 的教學風格親切且耐心，能夠循序漸進地引導學生進入樂團的世界。學生們紛紛表示，K. Lee 的課程讓他們對音樂產生了濃厚的興趣！</p>
                  <a href="#" class="btn btn-primary w-100 py-4 rounded-12">探索 K. Lee 的教學課程</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination d-phone"></div>
        </div>
      </div>
      <span class="line-one d-web"></span>
    </section>


    
    <%- include('./layout/footer'); -%>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
